{% extends 'base.html' %}
{% block content %}
{{block.super}}

<div class="container-fluid" style="background-color:bisque;">
    <h2>WEEKLY PROGRAM</h2><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>DAY</th>
                <th>TIME</th>
                <th>EVENT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DAILY</td>
                <td>06:00am - 08:00am</td>
                <td>Prayers</td>
            </tr>

            <tr>
                <td>SUNDAY</td>
                <td>7:30am</td>
                <td>Men's Fellowship</td>
            </tr>
            <tr>
                <td></td>
                <td>8:30am</td>
                <td>Prayers</td>
            </tr>
            <tr>
                <td></td>
                <td>09:30am</td>
                <td>Adult's Bible Study</td>
            </tr>
            <tr>
                <td></td>
                <td>10:30am</td>
                <td>Morning Service</td>
            </tr>
            <tr>
                <td></td>
                <td>10:30am</td>
                <td>Sunday School Children's Service</td>
            </tr>
            <tr>
                <td></td>
                <td>5:00pm</td>
                <td>Prayers</td>
            </tr>
            <tr>
                <td></td>
                <td>5:00pm</td>
                <td>Evening Service</td>
            </tr>

            <tr>
                <td>TUESDAY</td>
                <td>7:00pm</td>
                <td>Corporate Prayers</td>
            </tr>

            <tr>
                <td>WEDNESDAY</td>
                <td>06:00pm</td>
                <td>Prayers</td>
            </tr>
            <tr>
                <td></td>
                <td>7:00pm</td>
                <td>Midweek Service</td>
            </tr>
            <tr>
                <td>FRIDAY</td>
                <td>6:30pm</td>
                <td>Home Cells Bible Study</td>
            </tr>
            <tr>
                <td>SATURDAY</td>
                <td>5:30pm</td>
                <td>Concert</td>
            </tr>
        </tbody>    
    </table><br>

    <h4>Special Programs/Activities</h4>
    <ul>
        <li>Outreach program every Thursday @ 7:00pm</li>
        <li>School Outreach programs</li>
        <li>Crusades & Revival meetings</li>
        <li>Radio program @ Pamoja FM; every Saturday from 6:00 to 7:00pm.</li>
        
    </ul>
</div>

{% endblock %}