{% extends 'base.html' %}
{% block content %}
{{block.super}}

<div class="container-fluid">
    <h2>WEEKLY PROGRAM</h2><br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Day</th>
                <th>Activity</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>SUNDAY</td>
                <td>Adult's Bible Study</td>
                <td>9:30am</td>
            </tr>
            <tr>
                <td></td>
                <td>Morning Service</td>
                <td>10:30am</td>
            </tr>
            <tr>
                <td></td>
                <td>Sunday School Children's Service</td>
                <td>10:30am</td>
            </tr>
            <tr>
                <td></td>
                <td>Evening Service</td>
                <td>5:00pm</td>
            </tr>
            <tr>
                <td>TUESDAY</td>
                <td>Corporate Prayers</td>
                <td>7:00pm</td>
            </tr>
            <tr>
                <td>WEDNESDAY</td>
                <td>Midweek Service</td>
                <td>7:00pm</td>
            </tr>
            <tr>
                <td>FRIDAY</td>
                <td>Home Cells Bible Study</td>
                <td>6:30pm</td>
            </tr>
            <tr>
                <td>SATURDAY</td>
                <td>Concert</td>
                <td>5:30pm</td>
            </tr>
        </tbody>    
    </table><br>

    <h4>Special Programs/Activities</h4>
    <ul>
        <li>Prayers every morning between 6:00 to 7:00am</li>
        <li>Outreach program every Thursday @ 7:00pm</li>
        <li>School Outreach programs</li>
        <li>Crusades & Revival meetings</li>
        <li>Radio program @ Pamoja FM; every Saturday from 6:00 to 7:00pm.</li>
        
    </ul>
</div>

{% endblock %}